html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Background color for easy page setup
so can see div box for sizing*/
body a {
    font-family: 'Roberto', sans-serif;
	text-decoration: none;
}

div{
	border: 1px solid chocolate;
}


/*TOP NAVIGATION CONTENT SECTION & LOGO*/

/*Top nav-bar always visible with position fixed
and scrolls with user*/
.top-navigation {
	position: fixed;
	width: 100%;
	background-color: #fff;
}

/*Q: Why us > and not just .content to affect elements*/
.top-navigation .content {
	width: 790px;
	height: 70px;
	padding: 0 15px;
	margin: 0 auto;
}

/*Q. Why did we not have to use
.content first to access the 
logo class in the css?*/
.logo {
	margin-top: 0.67em;
	margin-left: 0.02em;
	height: 3.0em;
}


/*POSITIONING AND STYLING OF LINKS*/
.top-navigation .links {
	float: right;
	color: #838994;
	font-size: 1em;
	margin-top: 1.6em;
	letter-spacing: 0.03em;
    font-weight: 700;
	-webkit-font-smoothing: antialiased;
}

.links li {
	display: inline-block;
	margin-left: 2.25em;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 700;
}

 /*****************************/
/* TOP NAVIGATION ANIMATIONS */

.links > li {
	transition: color 0.2ms;
    /*Q. Why cursor shows hand when I have selected pointer?*/
	cursor: pointer;
}

.top-navigation .links > li:hover {
	color: #666;
}

/*BACKGROUND TITLE IMAGE - INTRODUCTION IMAGE*/

.introduction {
	background-image: url('../images/first-background.jpg');
	height: 47em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	overflow: auto;
}

/*INTRODUCTION TEXT HEADINGS FONT SELECTION AND POSITIONING*/
.introduction, 
.introduction-heading, 
.introduction-into {
	color: #fff;
	letter-spacing: 0.08em;
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
}

.introduction > .content {
	margin-top: 18em;
	text-align: center;
	width: 49em;
	margin-left: auto;
	margin-right: auto;
}