html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Background color for easy page setup
so can see div box for sizing*/
body, body a{
    font-family: 'Roberto', sans-serif;
	text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

/*TODO-me QUESTION: Why does text decoration not work further down the document*/
.content ol ul li {
    text-decoration: none;
}

/*div{*/
	/*border: 1px solid chocolate;*/
/*}*/


/*TOP NAVIGATION CONTENT SECTION & LOGO*/

/*Top nav-bar always visible with position fixed
and scrolls with user*/
.top-navigation {
	position: fixed;
	width: 100%;
	background-color: #fff;
    z-index: 9999;
}

/*Q: Why us > and not just .content to affect elements*/
.top-navigation .content {
	width: 60%;
	height: 70px;
	margin: 0 auto;
}

/*Q. Why did we not have to use
.content first to access the 
logo class in the css?*/
.logo {
	margin-top: 0.67em;
	height: 3.0em;
    /*TODO-me TASK: Logo should be further left in the nav-bar content div*/
}

.top-navigation .links {
	float: right;
	color: #838994;
	font-size: 1.04em;
	margin-top: 1.7em;
	letter-spacing: 0.03em;
    font-weight: 300;
}

.links li {
	display: inline-block;
    margin-left: 1.5rem;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 600;
    cursor: pointer;
    /*Q. Why cursor shows hand when I have selected pointer?*/
}

 /*****************************/
/* TOP NAVIGATION ANIMATIONS */
.links > li {
	transition: color 0.2ms;
}

.top-navigation .links > li:hover {
	color: #444;
}

/*INTRODUCTION SECTION*/
/*background title image*/
.introduction {
	background-image: url('../images/first-background.jpg');
	height: 46em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
    overflow-y: auto;
    overflow-x: auto;
}

/*introduction text*/
.introduction,
.introduction-heading h1,
.introduction-into h3 {
    text-align: center;
    color: #fff;
    letter-spacing: 0.1em;
}

.introduction h1 {
    font-size: 3.125rem;
    margin-top: 17.5rem;
    font-weight: 100;
}

.introduction h3 {
    font-size: 1.57rem;
    margin-top: 1.563rem;
    font-weight: 100;
}

/*big button styling and positioning*/
.big-button {
    margin-top: 0.5rem;
    background-color: #F15B2A;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    width: 155px;
    font-size: 1.125rem;
}

/*big button animation*/
.content .big-button {
    transition: background-color .2ms;
}
.content .big-button:hover {
    background-color: rgb(237, 71, 21);
}

/*CASES SECTION*/

/*TODO-me PROBLEM: cases images (ul) not centered correctly?*/

.cases {
    margin: 3rem;
    box-sizing: border-box;
    /*TODO-me QUESTION: is the border-box necessary?*/
}
.cases .content .devices {
    list-style-type: none;
    text-align: center;
}

.content .devices > li {
    display: inline-block;
    vertical-align: top;
    padding-right: 4rem;
}

.cases h2 {
    margin: 4rem 0px;
    font-size: 2.7rem;
    font-family: 'Roberto', sans-serif;
    text-align: center;
    color: black;
    font-weight: 100;
}

.devices h3 {
    font-weight: 400;
    font-size: 1.5em;
}

/*FOOTER SECTION*/

.footer {
    margin: 7rem 0;
    width: 100%;
}

.content .social-links {
    margin: 2em auto;
    list-style-type: none;
    width: 30%;

}

.content .social-links li {
    display: inline-block;
    vertical-align: top;
    padding-right:2.3rem;
}

#copy-write {
    color: #83899A;
    font-weight: 100;
}
